# Copyright 2025 by Phil B.
# All rights reserved. This file is part of the Cordactyl.com panel,
# and licensed under Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International.
# To view a copy of this license, visit https://creativecommons.org/licenses/by-nc-nd/4.0/
# or see the LICENSE file that should have been included as part of this project.

# Paste your Bot-Token here. You can get one from the discord developer portal:
# https://discord.com/developers/applications
BOT_TOKEN=

# Paste you Api-Token here. You can get it from the Cordactyl panel.
API_TOKEN=

API_URL=https://cordactyl.com/api/bot
API_SSL=true